<!DOCTYPE html>
<html>
<head>
  <title>Crashndapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:message] %>
    <p class="flash-message"><%= flash[:message] %></p>
  <% end %>
  <%= yield %>
  <% if session[:user_id] %>
    <%= link_to 'Logout', logout_path %>
  <% end %>
</body>
</html>
